/* ================================= 
全局设置
==================================== */
body{
    background: url(
    images/a.jpeg) no-repeat top center fixed;
    background-size:100% auto;
}
.content{
    width: 900px;
    height: 1000px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
}
img{
    z-index: 1;
    width: 20%;
    height: auto;
    position: absolute;
    padding: 10px 10px 15px 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
    /*动画时间*/
    -moz-transition;0.5s;
    -wedkit-transition;0.5s;
    transition: 0.5s;
}
img:hover{
    z-index: 2;
    transform: scale(1.5);
    -moz-transform:scale(1.5);
    -webkit-transform;(1.5);
    box-shadow: -10px 10px 20px #000000;
    -moz-box-shadow;-10px 10px 20px ；
    -wedkit-box-shadow:-10px 10px 20px #000000;
}
.pic1{
    left: 100px;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
}
.pic2{
       left: 200px;
    top: 60px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);

}
.pic3{
       left: 300px;
    top: 70px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.pic4{
       left: 400px;
    top: 80px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}